@charset "utf-8";

$color-base: #31353B;
$color-accent: #FF9900;
$color-btn: #F85A47;
$color-bg: #DBFFFF;

@mixin inner($mw:1000px, $w: 90%){
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin flex($a:center, $j:space-between){
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

body{
    color: $color-base;
    font-size: 15px;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
    line-height: (26/16);
    letter-spacing: (20/1000)*1em;
}

img{
    max-width:100%;
    height: auto;
    vertical-align: bottom;
}

/* header */
.header{
    padding: 50px 0 80px;

    &__inner{
        @include inner();
        @include flex();
    }

    &__title{
        font-size: 24px;
        font-weight: bold;
        line-height: (24/24);
    }

    &__nav{
        @include flex();

            & .home {
                    color: $color-accent;
                }
    }

    & a{
        margin-left: 30px;
        font-weight: bold;
    }
}

/* footer */

/* post */
.post{
    padding: 30px 0;

    &__category{
        margin-bottom: 20px;
        color: $color-accent;
        font-size: 18px;
        font-weight: bold;
        line-height: (30/18);
        letter-spacing: 0;
    }

    &__title{
        margin-bottom: 40px;
        color: #000;
        font-size: 48px;
        font-weight: normal;
        line-height: (58/48);
    }

    &__text{
        margin-bottom:60px;
    }
}

/* btn */
.btn{
    display: block;
    width: 200px;
    padding: 20px 35px;
    border-radius: 10px;
    color: #fff;
    background-color:$color-btn;
    font-size:15px;
    font-weight: bold;
}

/*index.html
________________________________________________________________*/

/* main */
/* office */
.office{
    margin-bottom: 120px;

    &__inner{
        @include inner();
        @include flex(flex-start);
        flex-direction: row-reverse;
    }

    & img{
        width: (500/1000)*100%;
    }

    &__item{
        width: (440/1000)*100%;
    }
}